// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
#define BASE 0
#define SYM1 1
#define NAV 2
#define SYM2 3
#define INCO 4
// -----------------

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

&sk {
    ignore-modifiers;
};

&sl {
    release-after-ms = <3000>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <SYM1 NAV>;
            then-layer = <SYM2>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // both left thumb keys

        combo_settings {
            timeout-ms = <150>;
            key-positions = <30 31>;
            bindings = <&sl INCO>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q   &kp W   &kp E   &kp R      &kp T       &kp Y   &kp U      &kp I    &kp O            &kp P
  &kp A   &kp S   &kp D   &kp F      &kp G       &kp H   &kp J      &kp K    &kp L  &kp EXCLAMATION
  &kp Z   &kp X   &kp C   &kp V      &kp B       &kp N   &kp M  &kp COMMA  &kp DOT     &kp QUESTION
                          &sl NAV  &kp SPACE  &sk LSHIFT   &sl SYM1
            >;
        };

        sym1_layer {
            bindings = <
&kp LBRC   &kp AT   &kp HASH   &kp LPAR   &kp LBKT   &kp PLUS   &kp MINUS   &kp COLON   &kp SEMICOLON   &kp PERCENT
&kp N1     &kp N2   &kp N3     &kp N4     &kp N5     &kp N6     &kp N7      &kp N8      &kp N9          &kp N0
&kp RBRC  &kp LS(LA(N2))  &kp AMPS  &kp RPAR  &kp RBKT  &kp STAR  &kp EQUAL    &kp SQT        &kp DQT       &kp SLASH
&trans  &trans  &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
    &kp ESC  &kp LG(GRAVE)  &kp LG(TAB)  &kp LG(SPACE)  &kp LG(LC(SPACE))          &kp LA(DEL)   &kp LG(LBKT)       &kp UP  &kp LG(RBKT)  &caps_word
 &sk LSHIFT      &sk LCTRL     &sk LALT       &sk LGUI              &none             &kp HOME       &kp LEFT     &kp DOWN     &kp RIGHT     &kp END
  &kp LG(Z)      &kp LG(X)    &kp LG(C)      &kp LG(V)          &kp LG(B)  &kp LA(BACKSPACE)  &kp BACKSPACE  &kp LS(TAB)       &kp TAB       &none
                                                &trans             &trans            &kp ENTER         &trans

            >;
        };

        sym2_layer {
            bindings = <
 &kp LA(N)  &kp LA(GRAVE)      &kp LA(E)   &kp LA(U)         &kp LA(I)  &kp CARET     &kp UNDERSCORE  &kp TILDE                  &none   &none
     &none          &none  &kp BACKSLASH    &kp PIPE             &none      &none  &kp LA(BACKSLASH)      &none  &kp LS(LA(BACKSLASH))   &none
     &none          &none          &none  &kp DOLLAR        &kp LA(N0)      &none              &none  &kp GRAVE                  &none   &none
                                              &trans            &trans     &trans             &trans
            >;
        };

        settings_layer {
            bindings = <
  &bootloader         &none         &none         &none         &none         &none   &none   &none   &none  &bootloader
 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3         &none         &none   &none   &none   &none   &bt BT_CLR
        &none         &none         &none         &none         &none         &none   &none   &none   &none        &none
                                                 &trans        &trans        &trans  &trans
            >;
        };
    };
};